/* Barra de Navegación */

body {
    min-width: 300px;
}

.navbar {
    padding: 0.3rem !important;
    background-color: #7d677e;
}


.navbar a {
    color: #fafdea !important;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}


/* Estilos Generales */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5 rem;
    font-family: 'Abril Fatface', cursive;
}


.seccion-oscura {
    background-color: #322030;
    color: #fafdea;
}

.seccion-clara {
    background-color: #fafdea;
    color: #360b41;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: center;
}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
}

.seccion-descripcion {
    font-size: 1.2 rem;

}


.seccion-texto {
    font-size: 20px;
    text-align: center;
}


/*  Seccion Hero  */

.hero {
    background-color: #fafdea;
    min-width: 200px;
    text-align: center;
}

.hero-principal {
    padding: 1.3rem;
}

.hero-imagen-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color:#360b41;
}


.hero-inferior_imagen {
    width: 350px;
    height: 350px;
    margin-top: 8px;
}

.hero h3{
    color: #666;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.hero hr{
    text-align: center;
    color: #666;
    border: none;
    border-left: 2px solid #000;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
    box-sizing: border-box;
}

/*   Sobre Mi   */

.sobre-mi {
    min-height: 500px;
    padding: 110px;
    border: 5px;
}


.sobre mi .contenedor {
    max-width: 600px;
}


/*  Experiencia  */

.experiencia {
    padding: 40px 40px 60px 40px;

}

.experiencia i {
    font-size: 2.5rem;
    background-color: #322030;
    color: #c1a2a0;
    padding: 8px 19px;
    border-radius: 50%;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experiencia .columna {
    min-height: 250px;
    background-color: #c1a2a0;
    border: 2px solid #322030;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: background-color, color 0.2s ease-in;
}

.experiencia .columna:hover {
    background-color: #322030;
    color: #fafdea;
}

.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 3px;
}


/* Seccion Proyectos  */

.seccion-proyectos {
    padding: 40px;
    background-color: #fafdea;
    color: #360b41;

}

.seccion-proyectos img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display:block;
    transition: all 0.2s ease;
}

.proyectos-galeria-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.mas-proyectos-button {
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    color: #360b41;
}

.proyecto {
    position: relative;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay{
    opacity: 1;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 55px;
    margin: 15px;
}

/*Contacto*/

.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 10px;
}

.contacto .rectangulo {
    margin-top: -5rem;
    background-color: #725b75;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion {
    color: white;
    font-size: 1.2rem;
}

.contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover {
    background-color: white;
    color: #322030;
}

.contacto button:hover i{
    color: #322030;
}

.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}


/*  Pie de pagina (footer)  */

footer {
    min-height: 250px;
}

.footer-logo {
    height: 60px;
    width: 60px;
    margin: -10px 10px 10px 10px;
}

.footer-texto {
    font-size: 1.2rem;
    padding: 15px;
    margin-bottom: 25px;
}

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}


.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid #725b75;
}


.iconos-redes-sociales a:hover i {
    color: #322030;
}


.derechos-de-autor {
    font-size: 15px;
    color: #c1a2a0;
    padding: 20px;
}


/* Boton de Volver Arriba */


.volver-arriba-link {
    text-decoration: none;
    position: sticky;
    left: 95%;
    top: 95%;
    height: 65px;
    width: 65px;
    z-index: 100;
}

.volver-arriba-button {
    height: 60px;
    width: 60px;
    font-size: 60px;
    color: #5ebaf2;
    opacity: .5;
    position: sticky;
    z-index: 100;
}

/*Adaptable (Responsivo) */


@media screen and (max-width: 767px) {
    .footer-logo {
        height: 60px;
        width: 60px;
        margin: 10px 10px 10px 10px;
    }
}

@media screen and (max-width: 400px){
    .overlay p{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .overlay i {
        font-size: 35px;
    }
}

@media screen and (min-width:401px) and (max-width: 767px){
    .overlay p{
        font-size: 21px;
        margin-bottom: 5px;
    }
    .overlay i {
        font-size: 45px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}


@media screen and (max-width: 700px) {
    .hero-inferior_imagen {
        max-width: 600px;
    }

    .sobre-mi {
        padding:15px;
    }
}